<script lang="ts">
import Vue from "vue";
import { PropType } from "vue";
import { stopEvent, clamp } from "../../utils/utils";

export const ITEM_SELECTOR = '[role="option"]';

export default Vue.extend({
  name: "SlpCustomDropdown",
  components: {},
  data() {
    return {
      selected: this.value,
      nextFocusedItemIndex: null,
      isExpanded: false,
    };
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    options: {
      type: Array as PropType<Array<string>>,
      required: false,
      default: () => ["Option 1", "Option 2", "Option 3"],
    },
    // Value is set when using v-model in the parent component
    value: {
      type: String,
    },
    dropdownLabel: {
      type: String,
    },
  },
  watch: {
    value(newValue) {
      this.selected = newValue;
    },
  },
  methods: {
    getFocusableListItemElements() {
      const items = this.$refs.dropdown_list.querySelectorAll(ITEM_SELECTOR);
      return Array.from(items);
    },
    focusNextItem(event, elements, offset) {
      const { target } = event;
      const currentIndex = elements.indexOf(target);
      const nextIndex = clamp(currentIndex + offset, 0, elements.length - 1);

      this.focusItem(nextIndex, elements);
    },
    focusItem(index, elements) {
      this.nextFocusedItemIndex = index;
      elements[index].focus();
    },
    onKeyDown(event, option) {
      const { code } = event;
      const elements = this.getFocusableListItemElements();

      if (elements.length < 1) return;

      let stop = true;

      if (code === "Home") {
        this.focusItem(0, elements);
      } else if (code === "End") {
        this.focusItem(elements.length - 1, elements);
      } else if (code === "ArrowUp") {
        this.focusNextItem(event, elements, -1);
      } else if (code === "ArrowDown") {
        this.focusNextItem(event, elements, 1);
      } else if (code === "Escape") {
        this.close();
        this.$nextTick(() => {
          this.$refs.dropdown.focus();
        });
      } else {
        stop = false;
      }

      if (stop) {
        stopEvent(event);
      }
    },
    onSelect(event, option) {
      this.value = option;
      this.$emit(this.name, option);
      this.$emit("input", option);
      this.close();
    },
    toggle() {
      this.isExpanded = !this.isExpanded;
    },
    close() {
      this.isExpanded = false;
    },
    onEnterPressed(event) {
      const elements = this.getFocusableListItemElements();

      if (elements.length < 1) return;

      const toBeFocusedIndex = elements.findIndex(
        (element) => element.getAttribute("value") === this.value
      );

      this.toggle();

      this.$nextTick(() => {
        this.focusItem(toBeFocusedIndex, elements);
      });
    },
    onFocusOut(event) {
      const { relatedTarget } = event;
      const elements = this.getFocusableListItemElements();

      if (elements.includes(relatedTarget)) return;

      this.close();
    },
    onClick(event) {
      const elements = this.getFocusableListItemElements();

      if (elements.length < 1) return;
      const toBeFocusedIndex = elements.findIndex(
        (element) => element.getAttribute("value") === this.value
      );

      this.toggle();
      this.$nextTick(() => {
        this.focusItem(
          toBeFocusedIndex > 1 ? toBeFocusedIndex - 1 : 0,
          elements
        );
      });
    },
  },
});
</script>

<template>
  <div>
    <div
      class="dropdown"
      ref="dropdown"
      aria-haspopup="listbox"
      :aria-expanded="isExpanded"
      :tabindex="isExpanded ? -1 : 0"
      :style="{
        borderBottom: isExpanded ? 'none' : '1px solid #333',
        borderBottomLeftRadius: isExpanded ? '0' : '4px',
        borderBottomRightRadius: isExpanded ? '0' : '4px',
      }"
      @click="onClick"
      @keypress.enter="onEnterPressed"
    >
      <span>
        {{ selected }}
      </span>
    </div>
    <ul
      ref="dropdown_list"
      role="listbox"
      tabindex="-1"
      class="dropdown__list"
      :style="{
        visibility: isExpanded ? 'visible' : 'hidden',
        height: isExpanded ? '100%' : '0',
      }"
      @keydown="onKeyDown"
    >
      <li
        :aria-selected="selected === option"
        role="option"
        v-for="(option, index) in options"
        :tabindex="index"
        :key="option"
        :value="option"
        @click="onSelect($event, option)"
        @focusout="onFocusOut"
        @keypress.enter="onSelect($event, option)"
      >
        {{ option }}
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
.dropdown {
  position: relative;
  padding: $spacing-8 11px;
  border-radius: $border-radius-4;
  border: $border-width solid #333;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  appearance: none;
  background: transparent;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z' fill='%23333333'/%3E%3C/svg%3E");
    top: calc(50% - 14px);
    right: 28px;
    position: absolute;
    pointer-events: none;
  }

  &__list {
    max-height: 144px;
    overflow-y: scroll;
    // padding: 0px 12px;
    border-left: $border-width solid #333;
    border-right: $border-width solid #333;
    border-bottom: $border-width solid #333;
    border-bottom-left-radius: $border-radius-4;
    border-bottom-right-radius: $border-radius-4;
    visibility: hidden;
    height: 0;

    li {
      cursor: pointer;
      padding-left: 11px;
      padding-top: $spacing-8;
      padding-bottom: $spacing-8;
    }

    li:hover {
      background-color: #f2f2f2;
    }
  }
}
</style>
