$prefix: 'slp'; // For themeing in the future
$max-columns: 12; // Columns in the grid

/*
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/                            
*/

$color-primary-100: #D1D0D3 !default;
$color-primary-200: #171321 !default;
$color-primary-300: #FFFFFF !default;

// Secondary
$color-secondary-100: #D1D0D3 !default;
$color-secondary-200: #FFFFFF !default;
$color-secondary-300: #171321 !default;

// Surface
$color-surface-50: #FFFFFF !default;
$color-surface-100: #F2F1F5 !default;
$color-surface-200: #E8E7EB !default;
$color-surface-300: #D1D0D3 !default;
$color-surface-400: #A2A1A6 !default;
$color-surface-500: #74717A !default;
$color-surface-600: #45424D !default;
$color-surface-700: #171321 !default;
$color-surface-800: #F6F3FE !default;
$color-surface-900: #EEE7FD !default;
$color-surface-950: #E3D6FF !default;

// Text
$color-text-50: #FFFFFF !default;
$color-text-100: #D1D0D3 !default;
$color-text-200: #74717A !default;
$color-text-300: #171321 !default;

$color-text-link-100: #7759C2 !default;

// Alert
$color-alert-100: #FFD4D8 !default;
$color-alert-200: #F24F63 !default;
$color-alert-300: #CB3446 !default;

// Warning
$color-warning-100: #FFEFC7 !default;
$color-warning-200: #FFDA7A !default;
$color-warning-300: #FFB800 !default;

// Success
$color-success-100: #B8E5BC !default;
$color-success-200: #48A651 !default;
$color-success-300: #327338 !default;

// Info
$color-info-100: #D6EAFF !default;
$color-info-200: #70B4FF !default;
$color-info-300: #3979BF !default;

// Accents

$color-accent-100: #FCA326 !default;
$color-accent-200: #FC6D26 !default;
$color-accent-300: #E24329 !default;
$color-accent-400: #A989F5 !default;
$color-accent-500: #7759C2 !default;

$color-list: (
        "primary-100":$color-primary-100,
        "primary-200":$color-primary-200,
        "primary-300":$color-primary-300,
        "secondary-100":$color-secondary-100,
        "secondary-200":$color-secondary-200,
        "secondary-300":$color-secondary-300,
        "surface-50":$color-surface-50,
        "surface-100": $color-surface-100,
        "surface-200":$color-surface-200,
        "surface-300":$color-surface-300,
        "surface-400":$color-surface-400,
        "surface-500":$color-surface-500,
        "surface-600":$color-surface-600,
        "surface-700":$color-surface-700,
        "surface-800":$color-surface-800,
        "surface-900":$color-surface-900,
        "surface-950":$color-surface-950,
        "text-50":$color-text-50,
        "text-100": $color-text-100,
        "text-200": $color-text-200,
        "text-300": $color-text-300,
        "text-link-100":$color-text-link-100,
        "alert-100":$color-alert-100,
        "alert-200":$color-alert-200,
        "alert-300":$color-alert-300,
        "warning-100":$color-warning-100,
        "warning-200":$color-warning-200,
        "warning-300":$color-warning-300,
        "success-100":$color-success-100,
        "success-200":$color-success-200,
        "success-300":$color-success-300,
        "info-100":$color-info-100,
        "info-200":$color-info-200,
        "info-300":$color-info-300,
        "accent-100":$color-accent-100,
        "accent-200":$color-accent-200,
        "accent-300":$color-accent-300,
        "accent-400":$color-accent-400,
        "accent-500":$color-accent-500
);

/*
   _____                  _             
  / ____|                (_)            
 | (___  _ __   __ _  ___ _ _ __   __ _ 
  \___ \| '_ \ / _` |/ __| | '_ \ / _` |
  ____) | |_) | (_| | (__| | | | | (_| |
 |_____/| .__/ \__,_|\___|_|_| |_|\__, |
        | |                        __/ |
        |_|                       |___/ 
*/

$spacing-default: 16px !default;

$spacing-0: 0px !default;
$spacing-4: 4px !default;
$spacing-8: 8px !default;
$spacing-16: 16px;
$spacing-24: 24px !default;
$spacing-32: 32px !default;
$spacing-48: 48px !default;
$spacing-64: 64px !default;
$spacing-96: 96px !default;
$spacing-160: 160px !default;

$spacing: (
  0: $spacing-0,
  4: $spacing-4,
  8: $spacing-8,
  16: $spacing-16,
  24: $spacing-24,
  32: $spacing-32,
  48: $spacing-48,
  64: $spacing-64,
  96: $spacing-96,
  160: $spacing-160,
);

$spacing-shortcuts: ("margin": "m", "padding": "p") !default;
$spacing-directions: ("top": "t", "right": "r", "bottom": "b", "left": "l") !default;
$spacing-horizontal: "x" !default;
$spacing-vertical: "y" !default;


/*
  _______                                      _           
 |__   __|                                    | |          
    | |_   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _ 
    | | | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
    | | |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
    |_|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
        __/ | |           __/ |         | |           __/ |
       |___/|_|          |___/          |_|          |___/ 
*/

$font-size-default: 16px !default;

// Headings
$text-display-1: 96px !default;

$text-heading-1: 80px !default;
$text-heading-2: 56px !default;
$text-heading-3: 40px !default;
$text-heading-4: 32px !default;
$text-heading-5: 24px !default;

$text-display-1-mobile: 77px !default;

$text-heading-1-mobile: 48px !default;
$text-heading-2-mobile: 40px !default;
$text-heading-3-mobile: 32px !default;
$text-heading-4-mobile: 28px !default;
$text-heading-5-mobile: 22px !default;

// Body
$text-body-1: 20px !default;
$text-body-2: 16px !default;
$text-body-3: 14px !default;

$text-body-1-bold: 20px !default;
$text-body-2-bold: 16px !default;
$text-body-3-bold: 14px !default;

$text-body-1-link: 20px !default;
$text-body-2-link: 16px !default;
$text-body-3-link: 14px !default;

// Button
$text-button-1: 18px !default;
$text-button-2: 14px !default;

// ALL CAPS
$text-caps: 12px !default;

// Quotes
$text-quotes: 23px !default;

// Emphasis
$text-emphasis: 23px !default;

// Line Heights
$line-height-default: 24px !default;

$line-height-display-1: 100px !default;

$line-height-heading-1: 90px !default;
$line-height-heading-2: 66px !default;
$line-height-heading-3: 48px !default;
$line-height-heading-4: 40px !default;
$line-height-heading-5: 32px !default;

$line-height-display-1-mobile: 84px !default;

$line-height-heading-1-mobile: 52px !default;
$line-height-heading-2-mobile: 48px !default;
$line-height-heading-3-mobile: 40px !default;
$line-height-heading-4-mobile: 36px !default;
$line-height-heading-5-mobile: 28px !default;

$line-height-body-1: 24px !default;
$line-height-body-2: 20px !default;
$line-height-body-3: 20px !default;

$line-height-body-1-bold: 24px !default;
$line-height-body-2-bold: 20px !default;
$line-height-body-3-bold: 20px !default;

$line-height-body-1-link: 24px !default;
$line-height-body-2-link: 20px !default;
$line-height-body-3-link: 20px !default;

$line-height-button-1: 20px !default;
$line-height-caps: 20px !default;
$line-height-quotes: 38px !default;
$line-height-emphasis: 38px !default;

// Heading Letter Spacing
$letter-spacing-display-1: -2px !default;
$letter-spacing-display-1-mobile: -1.9px !default;

$letter-spacing-heading-1: -2.77px !default;
$letter-spacing-heading-2: -1.9px !default;
$letter-spacing-heading-3: -1.4px !default;
$letter-spacing-heading-4: -1.1px !default;
$letter-spacing-heading-5: -0.8px !default;

$letter-spacing-heading-1-mobile: -2.3px !default;
$letter-spacing-heading-2-mobile: -1.6px !default;
$letter-spacing-heading-3-mobile: -1.2px !default;
$letter-spacing-heading-4-mobile: -1px !default;
$letter-spacing-heading-5-mobile: -0.8px !default;

$letter-spacing-heading-1-bold: -2.1px !default;
$letter-spacing-heading-2-bold: -1.4px !default;
$letter-spacing-heading-3-bold: -1px !default;
$letter-spacing-heading-4-bold: -0.8px !default;
$letter-spacing-heading-5-bold: -0.6px !default;

$letter-spacing-heading-1-bold-mobile: -1.8px !default;
$letter-spacing-heading-2-bold-mobile: -1.2px !default;
$letter-spacing-heading-3-bold-mobile: -0.9px !default;
$letter-spacing-heading-4-bold-mobile: -0.7px !default;
$letter-spacing-heading-5-bold-mobile: -0.55px !default;

// Font Weight
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

/*
  ____                 _                _       _       
 |  _ \               | |              (_)     | |      
 | |_) |_ __ ___  __ _| | ___ __   ___  _ _ __ | |_ ___ 
 |  _ <| '__/ _ \/ _` | |/ / '_ \ / _ \| | '_ \| __/ __|
 | |_) | | |  __/ (_| |   <| |_) | (_) | | | | | |_\__ \
 |____/|_|  \___|\__,_|_|\_\ .__/ \___/|_|_| |_|\__|___/
                           | |                          
                           |_|                          
*/

$breakpoint-xs: 0px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-2xl: 1400px !default;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  2xl: $breakpoint-2xl,
);

/*
      _           _           
     (_)         | |          
  _____ _ __   __| | _____  __
 |_  / | '_ \ / _` |/ _ \ \/ /
  / /| | | | | (_| |  __/>  < 
 /___|_|_| |_|\__,_|\___/_/\_\

*/

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-offcanvas: 1050;
$zindex-modal: 1060;
$zindex-popover: 1070;
$zindex-tooltip: 1080;

/*
  __  __ _          
 |  \/  (_)___  ___ 
 | |\/| | / __|/ __|
 | |  | | \__ \ (__ 
 |_|  |_|_|___/\___|
*/

$border-radius-4: 4px;
$border-radius-24: 24px;
$border-radius-pill: 90px;
$border-width: 1px;
$border: $border-width solid $color-surface-300;
$border-pill: $border-width solid $color-accent-500;

$shadow-surface-primary-1: $color-surface-300 0px 8px 50px -24px;
$shadow-surface-primary-2: $color-surface-300 0px 16px 50px -24px;
$shadow-surface-primary-3: $color-surface-300 0px 24px 50px -24px;
$shadow-surface-primary-4: $color-surface-300 0px 32px 50px -24px;

$shadow-surface-secondary-1: $color-surface-300 0px 8px 50px -24px;
$shadow-surface-secondary-2: $color-surface-300 0px 16px 50px -24px;
$shadow-surface-secondary-3: $color-surface-300 0px 24px 50px -24px;
$shadow-surface-secondary-4: $color-surface-300 0px 32px 50px -24px;

$interactive-ease: cubic-bezier(0.70, 0.00, 0.30, 1.00);
$expressive-ease: cubic-bezier(0.30, 0.80, 0.70, 1.20);