<template>
  <component :is="tag" :class="className">
    <slot />
    <span v-if="variant === 'arrow'" class="arrow-symbol">&#8594;</span>
  </component>
</template>

<script lang="ts">
export default {
  name: "SlpTypography",
  props: {
    variant: {
      type: String,
      required: false,
      default: "body1",
      in: [
        "display1",
        "heading1",
        "heading2",
        "heading3",
        "heading4",
        "heading5",
        "heading1-bold",
        "heading2-bold",
        "heading3-bold",
        "heading4-bold",
        "heading5-bold",
        "body1",
        "body2",
        "body3",
        "body1-bold",
        "body2-bold",
        "body3-bold",
        "all-caps",
        "arrow",
        "quotes",
        "emphasis",
      ],
    },
    tag: {
      type: String,
      required: false,
      default: "span",
      in: ["span", "h1", "h2", "h3", "h4", "p", "div"],
    },
  },
  computed: {
    className(): string {
      return `slp-text-${this.variant}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";
.#{$prefix}-text-display1,
.#{$prefix}-text-display1:deep(*) {
  font-size: $text-display-1;
  line-height: $line-height-display-1;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-display-1;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-display-1-mobile;
    line-height: $line-height-display-1-mobile;
    font-weight: $font-weight-bold;
  }
}

.#{$prefix}-text-heading1,
.#{$prefix}-text-heading1:deep(*) {
  font-size: $text-heading-1;
  line-height: $line-height-heading-1;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-heading-1;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-1-mobile;
    line-height: $line-height-heading-1-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-heading-1-mobile;
  }
}
.#{$prefix}-text-heading2,
.#{$prefix}-text-heading2:deep(*) {
  font-size: $text-heading-2;
  line-height: $line-height-heading-2;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-heading-2;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-2-mobile;
    line-height: $line-height-heading-2-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-heading-2-mobile;
  }
}

.#{$prefix}-text-heading3,
.#{$prefix}-text-heading3:deep(*) {
  font-size: $text-heading-3;
  line-height: $line-height-heading-3;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-heading-3;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-3-mobile;
    line-height: $line-height-heading-3-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-heading-3-mobile;
  }
}

.#{$prefix}-text-heading4,
.#{$prefix}-text-heading4:deep(*) {
  font-size: $text-heading-4;
  line-height: $line-height-heading-4;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-heading-4;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-4-mobile;
    line-height: $line-height-heading-4-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-heading-4-mobile;
  }
}

.#{$prefix}-text-heading5,
.#{$prefix}-text-heading5:deep(*) {
  font-size: $text-heading-5;
  line-height: $line-height-heading-5;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-heading-5;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-5-mobile;
    line-height: $line-height-heading-5-mobile;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-heading-5-mobile;
  }
}

.#{$prefix}-text-heading1-bold,
.#{$prefix}-text-heading1-bold:deep(*) {
  font-size: $text-heading-1;
  line-height: $line-height-heading-1;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-1-bold;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-1-mobile;
    line-height: $line-height-heading-1-mobile;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-heading-1-bold-mobile;
  }
}

.#{$prefix}-text-heading2-bold,
.#{$prefix}-text-heading2-bold:deep(*) {
  font-size: $text-heading-2;
  line-height: $line-height-heading-2;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-2-bold;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-2-mobile;
    line-height: $line-height-heading-2-mobile;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-heading-2-bold-mobile;
  }
}
.#{$prefix}-text-heading3-bold,
.#{$prefix}-text-heading3-bold:deep(*) {
  font-size: $text-heading-3;
  line-height: $line-height-heading-3;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-3-bold;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-3-mobile;
    line-height: $line-height-heading-3-mobile;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-heading-3-bold-mobile;
  }
}

.#{$prefix}-text-heading4-bold,
.#{$prefix}-text-heading4-bold:deep(*) {
  font-size: $text-heading-4;
  line-height: $line-height-heading-4;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-4-bold;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-4-mobile;
    line-height: $line-height-heading-4-mobile;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-heading-4-bold-mobile;
  }
}

.#{$prefix}-text-heading5-bold,
.#{$prefix}-text-heading5-bold:deep(*) {
  font-size: $text-heading-5;
  line-height: $line-height-heading-5;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-heading-5-bold;

  @media (max-width: $breakpoint-sm) {
    font-size: $text-heading-5-mobile;
    line-height: $line-height-heading-5-mobile;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-heading-5-bold-mobile;
  }
}

.#{$prefix}-text-body1,
.#{$prefix}-text-body1:deep(*) {
  font-size: $text-body-1;
  line-height: $line-height-body-1;
  font-weight: $font-weight-normal;
}

.#{$prefix}-text-body2,
.#{$prefix}-text-body2:deep(*) {
  font-size: $text-body-2;
  line-height: $line-height-body-2;
  font-weight: $font-weight-normal;
}

.#{$prefix}-text-body3,
.#{$prefix}-text-body3:deep(*) {
  font-size: $text-body-3;
  line-height: $line-height-body-3;
  font-weight: $font-weight-normal;
}

.#{$prefix}-text-body1-bold,
.#{$prefix}-text-body1-bold:deep(*) {
  font-size: $text-body-1-bold;
  line-height: $line-height-body-1-bold;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-body2-bold,
.#{$prefix}-text-body2-bold:deep(*) {
  font-size: $text-body-2-bold;
  line-height: $line-height-body-2-bold;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-body3-bold,
.#{$prefix}-text-body3-bold:deep(*) {
  font-size: $text-body-3-bold;
  line-height: $line-height-body-3-bold;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-all-caps,
.#{$prefix}-text-all-caps:deep(*) {
  font-size: $text-caps;
  line-height: $line-height-caps;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.#{$prefix}-text-quotes,
.#{$prefix}-text-quotes:deep(*) {
  font-size: $text-quotes;
  line-height: $line-height-quotes;
  font-weight: $font-weight-normal;
  font-style: italic;
}

.#{$prefix}-text-emphasis,
.#{$prefix}-text-emphasis:deep(*) {
  font-size: $text-emphasis;
  line-height: $line-height-emphasis;
  font-weight: $font-weight-normal;
}

.#{$prefix}-text-arrow,
.#{$prefix}-text-arrow:deep(*) {
  color: $color-secondary-200;
  cursor: pointer;
  font-weight: $font-weight-bold;
  font-size: $text-body-2;
  line-height: $line-height-body-2;

  &:hover {
    color: $color-secondary-300;

    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }

  &:active {
    color: $color-secondary-200;

    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }
}

.arrow-symbol {
  padding-left: $spacing-4;
}
</style>
