<script lang="ts">
export default {
  name: "SlpLoadingRound",
  props: {},
};
</script>

<template>
  <div class="slp-loading-round"></div>
</template>

<style scoped lang="scss">
@import "src/styles/_variables";
.slp-loading-round {
  height: 32px;
  width: 32px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  border: 8px solid $color-surface-200;
  border-top-color: $color-accent-400;
  transform: rotate(-45deg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
</style>
