<template>
  <a class="slp-link" :href="href">
    <span class="slp-link-text"><slot></slot></span>
    <span class="slp-link-arrow" v-if="arrow">&#8594;</span>
  </a>
</template>

<script lang="ts">
export default {
  name: "SlpLink",
  props: {
    arrow: {
      type: Boolean,
      required: false,
      default: false,
    },
    href: {
      type: String,
      required: true,
      default: "#",
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/styles/_variables";

.#{$prefix}-link {
  color: $color-text-link-100;
  font-weight: $font-weight-bold;
  font-size: $text-body-2;
  line-height: $line-height-body-2;

  &:hover {
    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }

  &:active {
    .#{$prefix}-link-text {
      text-decoration: underline;
    }
  }
}

.#{$prefix}-link-arrow {
  padding-left: $spacing-4;
}
</style>
